@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-image: url(signupimage.jpg); 
  background-repeat: no-repeat; 
  background-size: cover;
} 
button[disabled] {
  color: black;
  background-color: white;
}
.displayBadge{
  margin-top: 5%; 
  display: none; 
  text-align :center;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: hue
  ;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;  
  margin-top: 5%; 
  margin-bottom: 10%;
}  



.input-box {
  margin: 10%;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease; 
  margin-bottom: 20%;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{ 
  margin-top: 5%;
  color: purple;
	border-radius: 0;
	border-width: 2px;
	padding: 10px 30px; 
  background: #0f0f11;
	border-image-slice: 1; 
	border-image-source: var(--gradient);
	box-shadow: 5px 5px 0px 0px var(--secondary);
}
.input-box.button input:hover{
  background: lightskyblue;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
} 

button:hover{ 
  color: purple;
}


.form-group {
  margin-bottom: 1.5rem; }

.input-group-append,
.input-group-prepend {
  color: #c9c8c8;
  width: auto;
  border: none; }
  .input-group-append .input-group-text,
  .input-group-prepend .input-group-text {
    border-color: #ebedf2;
    padding: 0.94rem 0.75rem;
    color: #c9c8c8; }

.form-control {
  border: 1px solid #ebedf2;
  font-family: "ubuntu-regular", sans-serif;
  font-size: 0.8125rem; }
  .form-control:focus {
    background-color: #ffffff;
    color: #000000;
    outline: none; } 

    .form-group label {
      font-size: 0.875rem;
      line-height: 1;
      vertical-align: top;
      margin-bottom: .5rem; 
      color: white;
    }
    
    .form-group.has-danger .form-control {
      border-color: #fe7c96; }
    
    .form-group .file-upload-default {
      visibility: hidden;
      position: absolute; }
    
    .form-group .file-upload-info {
      background: transparent; }
    
      .card {
        border: 0;
        background-image: url(signupimage.jpg); 
      }
        .card .card-body 
        {
          padding: 2.5rem 2.5rem;
         }
          .card .card-body + .card-body {
            padding-top: 1rem; 
          }
        .card .card-title {
          color: white;
          margin-bottom: 0.75rem;
          text-transform: capitalize;
          font-family: "ubuntu-medium", sans-serif;
        }

      .form-check-label{
        color: white;
      }